@using Kowalsky.Models
@model PriceModel

<section id="prices" class="row section-price">
    <div class="col-md-12">
        <div class="row wow fadeIn" data-wow-duration="1.5s" data-wow-offset="10">
            <div class="col-md-12">
                <h2 class="section-title">Árak</h2>
                <div class="line-green"></div>
                <div class="short-text">Itt megtekintheti az árainkat</div>
                <div class="line-green"></div>
                <div class="under-line-padding row">
                    Kedvező ajánlatunk keretében így @Model.Tariff Ft-os óradíjért tanulhatsz, ami az egyik legkedvezőbb ár a piacon. Külön pótóradíj nincs!
                </div>
            </div>
        </div>
        
        <div class="row">
            <button>
                <i class="glyphicon glyphicon-education"></i>
                <span>@(Model.Tariff * 30) Ft</span>
            </button>
        </div>
        
        <div class="row margin-lg">
            Az elméleti vizsgára való felkészüléshez az alábbi tanfolyam áll a rendelkezésedre
        </div>

        <div class="row margin-lg">
            <div class="col-md-12 col-sm-12">
                <div class="row price-box wow fadeIn" data-wow-duration="1.5s">
                    <div class="col-md-12">
                        <h2>@Model.TheoryPrice.Amount Ft</h2>
                        <h4>@Model.TheoryPrice.Title</h4>
                        <span>
                            @Model.TheoryPrice.Description
                        </span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row margin-lg">
            A jogosítvány megszerzéséhez vezető úton több hivatalos akadályt is le kell küzdeni.
            Ezek autósiskolától független tényezők, ami azt jelenti, bármelyik iskolát is választod Magyarországon,
            ezen költségeket pluszban vállalnod kell. Iskolánk ahol lehet megkönnyíti neked a hivatalos eljárást,
            első útmutatóként lásd az árakat hogy jobban felkészülhess.
        </div>

        <div class="row margin-lg">

            @foreach (var item in Model.Prices.Take(2))
            {
                <div class="col-md-6 col-sm-6">
                    <div class="row price-box wow fadeIn" data-wow-duration="1.5s">
                        <div class="col-md-12">
                            <h2>@item.Amount Ft</h2>
                            <h4>@item.Title</h4>
                            <span>
                                @item.Description
                            </span>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="row">
            @foreach (var item in Model.Prices.Skip(2))
            {
                <div class="col-md-4 col-sm-4">
                    <div class="row price-box wow fadeIn" data-wow-duration="1.5s">
                        <div class="col-md-12">
                            <h2>@item.Amount Ft</h2>
                            <h4>@item.Title</h4>
                            <span>
                                @item.Description
                            </span>
                        </div>
                    </div>
                </div>
            }  
        </div>
    </div>
</section>