@using Microsoft.AspNetCore.Mvc.Rendering
@model Kowalsky.Models.HomeOverviewViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_Home", Model.MainPrice)
    
<div class="odd">
    @Html.Partial("_Prices", Model.PriceModel)  
</div>

@Html.Partial("_Comments", Model.Comments)

<div class="odd">
    @Html.Partial("_Gallery")
</div>

@Html.Partial("_Discounts")

<div class="odd">
    @Html.Partial("_About")
</div>

@Html.Partial("_Contact")

<div class="odd">
    @Html.Partial("_Register")
</div>